:root {
  --ifm-color-secondary: #8789f98d;

}

[data-theme='dark'] {
  --ifm-color-secondary: #624be7c9;
}

.nav :global(.pagination-nav__link) {
  padding: 1rem 1.25rem;
  border-radius: 0.75rem;
}

.title {
  font-weight: 700;
  margin-top: 0.15rem;
}

.desc {
  margin-top: 0.3rem;
  font-size: 0.95rem;
  line-height: 1.5;
}